* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
 
  body{

    overflow-x: hidden;
    
  }

nav a{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  /* home */
 .parallax{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  background: url('https://assets-global.website-files.com/63189509e70e8f2cb04b8c7b/659be5a20174a9031e0d4df0_onnu-clear-sky.webp') no-repeat;
  background-size: cover;
  background-position: center;
 }

  #text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 2rem;
    color: rgb(138, 134, 134);
    text-shadow: 2px 4px 5px rgb(62, 222, 243);
    font-family: "Cinzel", serif;
   
  }
 
 

 .parallax img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  
 }

 .parallax img#chair {
  transform: translateX(-282);
 }

 


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .parallax  #text {
   font-size: 20px;
  }
 
}

 /* .parallax img#right-tree {
  transform: translateX(305);
 } */
 



  #service{
    height: 100vh;
    position: relative;
    background-image: url("https://static.showit.co/800/6pxcPrilTsWKRjYpEC0pkQ/197348/ck1_3162.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
   
  }



#service .card{
  background-color: rgb(73, 124, 93);
}

#service .card-title{
  color: rgb(237, 243, 176);
}

#service .card-text{
  color: white;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #service .card {
    font-size: 10px;
  }
 
}

  #about{
    height: 100vh;
    position: relative;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #about  p {
      font-size: 10px;
    }
    #about span {
      font-size: 20px;
    }
  }
  
  #gallary{
    position: relative;
    background-color: rgb(6, 10, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }

  #gallary h1{
    margin-top: -400px;
  }

  .box{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
  }

  @keyframes animate{
    0%
    {
      transform: perspective(1000px) rotateY(0deg);
    }
    100%
    {
      transform: perspective(1000px) rotateY(360deg);

    }
  }

  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg )) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
  }

  .box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover ;
   
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .box span{
      transform-origin: center;
      transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 55deg )) translateZ(100px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
    }
    
    .box  span img {
      height: 150px;
      width: 100px;
    }
  
  }

  #price{
   
    height: 100vh;
    background-image: url("https://t4.ftcdn.net/jpg/03/88/65/45/360_F_388654597_RJ46YzwmSQ8Jabg3ARtCJ4rkAKBzmvo3.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
  }

  
  #price .card{
    
    display: grid;
    background: #171614;
    border-radius: .7rem;
    z-index: 1;
    color: white;
    overflow: hidden;
    padding: 1em;
    text-align:center;
    transition: 1.5s ease;
  }

  #price .card-header{
    background-color: rgb(236, 13, 50);
  }

  #price .card a{
    background-color:rgb(73, 145, 55);
  }


  #price .col{
    display: grid;
    position: relative;
    width: 300px;
    height: 380px;
    border-radius: 1em;
    background:white;
    overflow: hidden;
    float: left;
    margin: 20px;
   
}

#price .col::before{
    content: "";
    position: absolute;
    width: 700px;
    height: 35px;
    top: 0;
    right: 45px;
    
    transition: 1.5s;
    background:linear-gradient(50deg,rgb(184, 21, 157),hsl(236, 83%, 43%),red) ;
    transform: rotate(-40deg) translate(0, -100px);
}

 
  
#price .col:hover::before{
  animation: effect 4.2s;
}


  @keyframes effect {
    100% {
        transform: rotate(-35deg) translate(0, 700px);
    }
  }


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
  
     #price div .card-header,p,.btn {
    font-size: 9px;
    
    }
   
    
  }


  #contact{
    background-color:black;
     height: 100vh;
     position: relative;
   }
 
   #contact .card{
    
     color: white;
    background-color:black;
   }
 
   #contact .card a{
     text-decoration: none;
     color: white;
    
   }

   

   @media only screen and (max-width: 768px) {
    /* For mobile phones: */
  
     h6{
     font-size: 7px;
    }
    
    
  }